{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1>Bienvenido a mi Proyecto Final  👋</h1>
{% if user.is_authenticated %}
  <p>Ir a <a href="{% url 'pages:list' %}">Pages</a>, tu <a href="{% url 'accounts:profile' %}">Perfil</a> o <a href="{% url 'messaging:inbox' %}">Inbox</a>.</p>
{% else %}
  <p><a href="{% url 'accounts:login' %}">Iniciar sesión</a> o <a href="{% url 'accounts:signup' %}">Crear cuenta</a> para empezar.</p>
{% endif %}

<p>Home cargado correctamente.</p>
{% endblock %}
